* {
  font-family: "Bree Serif", serif;
}
body {
  background-color: rgb(202, 196, 233);
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  border: solid 10px rgb(171, 162, 223);
  border-radius: 30px;
  background-color: rgb(88, 77, 151);
  box-shadow: 15px 20px 3px 4px rgba(0, 0, 0, 0.329);
}
header {
  margin: 0 auto;
  width: 600px;
  line-height: 10px;
}
header h1 {
  font-family: "East Sea Dokdo", cursive;
  color: rgb(106, 66, 170);
  font-size: 80px;
  text-align: center;
}
header h2 {
  font-family: "East Sea Dokdo", cursive;
  text-align: center;
  color: rgb(88, 45, 129);
  font-size: 25px;
  padding-bottom: 80px;
}

button {
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.3em;
  color: white;
  border: none;
  background-color: rgb(88, 77, 151);
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.658),
    -5px -5px 10px 3px rgb(98, 87, 161);
}

button:hover {
  background-color: rgb(130, 97, 192);
  border: 3px solid rgb(56, 21, 112);
}

button:active {
  background-color: rgb(0, 0, 0);
}

.screen {
  grid-column: 1 / -1;
  padding: 16px;
  margin: 10px 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(36, 23, 48);
  border-radius: 30px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 3px 3px rgba(21, 16, 26, 0.329);
  color: white;
}

.col2 {
  grid-column: span 2;
}

.delete-all-function {
  background-color: rgb(104, 66, 139);
}

#former-number {
  font-size: 1.5em;
}
#current-number {
  font-size: 2.5em;
}
